{{template "head.html"}}
{{template "nav.html" $}}
<!--상단 고정 메뉴로 인해 위치 조정-->
<div style="padding-top: 2rem;"></div>
<div class="ui raised very padded text container grey inverted segment">
	<h2 class="ui dividing header">샷 추가</h2>
	<form method="post" class="ui form">
		<div class="field disabled"><label>프로젝트</label>
			<input type="text" name="project" value="{{.Project.Project}}"/>
		</div>
		<div class="field"><label>아이디</label>
			<input type="text" name="id" value=""/>
		</div>
		<div class="field"><label>내용</label>
			<input type="text" name="description" value=""/>
		</div>
		<div class="field"><label>편집 순서</label>
			<input type="text" name="edit_order" value=""/>
		</div>
		<div class="field"><label>CG 내용</label>
			<input type="text" name="cg_description" value=""/>
		</div>
		<div class="field"><label>시작 타임코드</label>
			<input type="text" name="timecode_in" value=""/>
		</div>
		<div class="field"><label>종료 타임코드</label>
			<input type="text" name="timecode_out" value=""/>
		</div>
		<div class="field"><label>길이</label>
			<input type="text" name="duration" value=""/>
		</div>
		<div class="field"><label>태그</label>
			<input type="text" name="tags" value=""/>
		</div>
		<div class="field"><label>태스크</label>
			<input type="text" name="working_tasks" value="{{join .Project.DefaultTasks ", "}}"/>
		</div>
		<button class="ui button green" type="submit" value="Submit">추가</button>
	</form>
</div>
{{template "footer.html"}}
