{{template "head.html"}}
{{template "nav.html" $}}
<!--상단 고정 메뉴로 인해 위치 조정-->
<div style="padding-top: 2rem;"></div>
<div class="ui raised very padded text container grey inverted segment">
	<h2 class="ui dividing header">
		버전 생성
	</h2>
	<form method="post" class="ui form" enctype="multipart/form-data">
		<div class="field disabled"><label>프로젝트</label>
			<input type="text" name="show" value="{{.Version.Show}}"/>
		</div>
		<div class="field disabled"><label>샷</label>
			<input type="text" name="shot" value="{{.Version.Shot}}"/>
		</div>
		<div class="field disabled"><label>태스크</label>
			<input type="text" name="task" value="{{.Version.Task}}"/>
		</div>
		<div class="field"><label>버전</label>
			<input type="text" name="version" value="{{.Version.Version}}" autofocus />
		</div>
		<button class="ui button green" type="submit" value="Submit">생성</button>
		<div style="height:2rem;"></div>
	</form>
</div>
{{template "footer.html"}}
