{{template "head.html"}}
{{template "nav.html" $}}
<!--상단 고정 메뉴로 인해 위치 조정-->
<div style="padding-top: 2rem;"></div>
<div class="ui raised very padded text container grey inverted segment">
	<h2 class="ui dividing header">샷 추가</h2>
	ProjectID string
	ShotID    string
	TaskName  string

	Version  int       // 결과물 버전
	Files    []string  // 결과물 경로
	Images   []string  // 결과물을 확인할 수 있는 이미지
	Mov      string    // 결과물을 영상으로 볼 수 있는 경로
	WorkFile string    // 이 결과물을 만든 작업 파일
	Created  time.Time // 결과물이 만들어진 시간

	<form method="post" class="ui form">
		<div class="field disabled"><label>프로젝트</label>
			<input type="text" name="project_id" value="{{.Output.ProjectID}}"/>
		</div>
		<div class="field disabled"><label>샷</label>
			<input type="text" name="shot_id" value="{{.Output.ShotID}}"/>
		</div>
		<div class="field disabled"><label>태스크</label>
			<input type="text" name="task_id" value="{{.Output.TaskName}}"/>
		</div>
		<!-- 아래부터 입력 -->
		<div class="field"><label>경로</label>
			<input type="text" name="files" value=""/>
		</div>
		<div class="field"><label>이미지</label>
			<input type="text" name="images" value=""/>
		</div>
		<div class="field"><label>Mov</label>
			<input type="text" name="mov" value=""/>
		</div>
		<div class="field"><label>시작 타임코드</label>
			<input type="text" name="work_file" value=""/>
		</div>
		<div class="field"><label>종료 타임코드</label>
			<input type="text" name="created" value=""/>
		</div>
		<button class="ui button green" type="submit" value="Submit">추가</button>
	</form>
</div>
{{template "footer.html"}}
