<!doctype html>
<html>
<head>
	<title>roi</title>
	<script src="/static/vue.js"></script>
	<script>
	</script>
	<style>
		hr {
			border: 0;
			height: 0;
			border-top: 1px solid black
		}
	</style>
</head>
<body style="">
	<div style="background-color:#48F; display:flex; height:60px; color:#999;">
			<div style="width:150px; background-color:#37F; display:flex; margin:0px 1px;">
				<div style="color:white; align-self:center; font-size:30px; padding-left:10px;">Roi</div>
			</div>
			<div style="background-color:#37F; width:120px; margin:0px 1px; font-size:20px; display:flex; padding:5px; justify-content:center; align-items:flex-end"><div>Project</div></div>
			<div style="background-color:#37F; width:120px; margin:0px 1px; font-size:20px; display:flex; padding:5px; justify-content:center; align-items:flex-end"><div>Shot</div></div>
			<div style="background-color:#37F; flex-grow:1;"></div>
	</div>
	<div style="display: flex;">
		<div>..</div>
		<div>{{.Project}}</div>
		<form>
			<input type="text" name="scene" placeholder="씬" value="{{$.FilterScene}}">
			<select id="status-select" name="status">
				<option value="" {{if eq $.FilterStatus ""}}selected{{end}}>모든 상태</option>
				<option value="in-progress" {{if eq $.FilterStatus "in-progress"}}selected{{end}}>진행중</option>
				<option value="done" {{if eq $.FilterStatus "done"}}selected{{end}}>완료</option>
			</select>
			<input type="submit" value="검색">
		</form>
	</div>
	<div style="display:flex; flex: 1;">
		<div style="flex:1;">
			<table style="width:100%">
				<tr>
					<th>씬</th>
					<th>샷</th>
					<th>상태</th>
					<th>내용</th>
					<th>CG</th>
					<th>T.In</th>
					<th>T.Out</th>
				</tr>
				{{range .Shots}}
				<tr>
					<td>{{.Scene}}</td>
					<td>{{.Name}}</td>
					<td>{{.Status}}</td>
					<td>{{.Description}}</td>
					<td>{{.CGDescription}}</td>
					<td>{{.TimecodeIn}}</td>
					<td>{{.TimecodeOut}}</td>
				</tr>
				{{end}}
			</table>
		</div>
	</div>
</body>
</html>
