{{template "head.html"}}
{{template "nav.html" $}}
<div style="padding:15px 10px 15px 10px;z-index:0;">

<div class="ui small header">타임라인</div>
<!-- semantic-ui를 이용하기 어려운 부분이라 html5의 flex를 이용함 -->
<div style="display:flex;border:solid 1px #1b1c1d;border-radius:2px;padding:0px 4px;background-color:#1b1c1d">
{{range $i, $day := $.Timeline}}
	<!-- 날짜 타일 배경색 지정 -->
	{{$bg := "grey"}}
	{{if isWeekend $day}}
		{{$bg = "#333744"}}
	{{end}}
	{{$numTasks := len (index $.TasksOfDay $day)}}
	{{if ne $numTasks 0}}
		{{$bg = dayColorInTimeline $numTasks}}
	{{end}}
	<!-- 날짜 타일 -->
	<div style="flex:1;height:0.9rem;margin:4px 1px;border-radius:1px;background-color:{{$bg}};font-size:0.7rem;display:flex;align-items:center;justify-content:center;cursor:pointer;" onclick="showTasks({{stringFromDate $day}})">
		{{if ne $numTasks 0}}
			{{$numTasks}}
		{{end}}
	</div>
	<!-- 한 주 구분 -->
	{{if and (isSunday $day) (ne $i (sub (len $.Timeline) 1))}}
		<div style="margin:0px 6px;"></div>
	{{end}}
{{end}}
</div>
<div style="margin: 10px;color:grey;">
타임라인의 날짜를 선택해서 당일이 마감인 태스크를 살펴보세요.
</div>

<div class="ui small header">태스크</div>
{{range $prj, $nInStatus := $.NumTasks}}
<div class="ui inverted segment">
	<div class="ui grid">
		<div class="ui four wide column">
			<a href="/search/{{$prj}}?assignee={{$.LoggedInUser}}">
				<div class="ui blue large header">{{$prj}}</div>
			</a>
		</div>
		<div class="ui twelve wide column right aligned">
			{{range $status := $.AllTaskStatus}}
			<a href="/search/{{$prj}}?assignee={{$.LoggedInUser}}&task_status={{$status}}">
				<div class="ui grey small image label">{{$status.UIString}}<div id="project-{{$prj}}-status-{{$status}}" class="detail">0</div></div>
			</a>
			{{end}}
		</div>
	</div>
	<div class="ui divider">
	</div>
	<div id="project-{{$prj}}-tasks-of-day" class="tasks-of-day ui grey inverted segment">
	</div>
</div>
{{end}}
</div>

<script>
let taskFromID = {
	{{range $id, $t := $.TaskFromID -}}
	"{{$id}}": {
		"project": "{{$t.ProjectID}}",
		"shot": "{{$t.ShotID}}",
		"name": "{{$t.Name}}",
		"status": "{{$t.Status}}",
	},
	{{end}}
};

let tasksOfDay = {
	{{range $day, $tasks := $.TasksOfDay -}}
	"{{stringFromDate $day}}": [
		{{range $id := $tasks -}}
		"{{$id}}",
		{{end}}
	],
	{{end}}
};

let allTaskStatus = [
	{{range $s := $.AllTaskStatus}}
	"{{$s}}",
	{{- end}}
];

function showTasks(day) {
	// 기존 태스크 링크 삭제
	let els = document.getElementsByClassName("tasks-of-day");
	for (i = 0; i < els.length; i++) {
		els[i].innerHTML = "";
	}
	let tasks = [];
	if (day == "") {
		for (let id in taskFromID) {
			tasks.push(id);
		}
	} else {
		tasks = tasksOfDay[day];
	}
	tasks.sort();
	// 태스크 링크 추가
	for (i = 0; i < tasks.length; i++) {
		let t = taskFromID[tasks[i]]
		let el = document.getElementById("project-" + t.project + "-tasks-of-day");
		let label = document.createElement("a");
		label.setAttribute("href", "/shot/" + t.project + "/" + t.shot);
		label.setAttribute("class", "ui small label");
		label.innerHTML = t.shot;
		detail = document.createElement("div");
		detail.setAttribute("class", "detail");
		detail.innerHTML = t.name;
		label.append(detail);
		el.append(label);
	}
	// 프로젝트별 태스크 상태 수정
	let numTaskStatusPerProject = {}; // [project][status]int
	for (let task in taskFromID) {
		let t = taskFromID[task];
		if (numTaskStatusPerProject[t.project] == null) {
			numTaskStatusPerProject[t.project] = {};
		}
	}
	for (let prj in numTaskStatusPerProject) {
		for (i = 0; i < allTaskStatus.length; i++) {
			let status = allTaskStatus[i];
			numTaskStatusPerProject[prj][status] = 0;
		}
	}
	for (i = 0; i < tasks.length; i++) {
		let t = taskFromID[tasks[i]];
		numTaskStatusPerProject[t.project][t.status] += 1;
	}
	for (let prj in numTaskStatusPerProject) {
		let numTaskStatus = numTaskStatusPerProject[prj]
		for (let status in numTaskStatus) {
			let n = numTaskStatus[status];
			let el = document.getElementById("project-" + prj + "-status-" + status);
			el.innerHTML = n;
		}
	}
}
showTasks("");
</script>
{{template "footer.html"}}
