{{template "head.html"}}
<div style="margin-top:10%;"></div>
<div class="ui middle aligned center aligned grid">
	<div class="column" style="width:350px;">
		<h2 class="ui header">
			<div class="content">Log-in</div>
		</h2>
		<!--로그인정보 입력폼-->
		<form class="ui large form" method="post">
			<div class="ui grey inverted segment">
				<div class="field"><!--아이디 입력-->
					<div class="ui left icon input">
					<i class="user icon"></i><input id="login_id" name="id" value="" type="text" placeholder="Id"></input>
					</div>
				</div>
				<div class="field"><!--비밀번호 입력-->
					<div class="ui left icon input">
					<i class="lock icon"></i><input id="login_password" name="password" value="" type="password" placeholder="Password"></input>
					</div>
				</div>
			<button class="ui fluid large green submit button" type="submit">로그인</button>
			</div>
		</form>
		<div class="ui horizontal inverted divider">
			Or
		</div>
		<!--가입하지 않은 경우 가입페이지로 이동-->
		<a href="/signup"><button class="ui fluid large button">가입</button></a>
		<!--에러 안내 메세지 출력-->
	</div>
</div>
{{template "footer.html"}}
