{{template "head.html"}}
{{template "nav.html" $}}
<!--상단 고정 메뉴로 인해 위치 조정-->
<div style="padding-top: 2rem;"></div>
<div class="ui raised very padded text container grey inverted segment">
	<!--사용자 정보-->
		<h2 class="ui dividing header">사용자 정보</h2>
		<form method="post" class="ui form">
			<div class="field"><label>아이디</label>
				<input readonly="" type="text" name="id" value="{{$.User.ID}}"/>
			</div>
			<div class="field"><label>이름</label>
				<input type="text" name="kor_name" value="{{$.User.KorName}}"/>
			</div>
			<div class="field"><label>영문이름</label>
				<input type="text" name="name" value="{{$.User.Name}}"/>
			</div>
			<div class="field"><label>팀</label>
				<select type="text" name="team">
					<option value="" {{if eq $.User.Team ""}}selected{{end}}>없음</option>
					<option value="mod" {{if eq $.User.Team "mod"}}selected{{end}}>모델링</option>
					<option value="rig" {{if eq $.User.Team "rig"}}selected{{end}}>리깅</option>
					<option value="ani" {{if eq $.User.Team "ani"}}selected{{end}}>애니메이션</option>
					<option value="lit" {{if eq $.User.Team "lit"}}selected{{end}}>라이팅</option>
					<option value="fx" {{if eq $.User.Team "fx"}}selected{{end}}>FX</option>
					<option value="matte" {{if eq $.User.Team "matte"}}selected{{end}}>매트</option>
					<option value="motion" {{if eq $.User.Team "motion"}}selected{{end}}>모션</option>
					<option value="comp" {{if eq $.User.Team "comp"}}selected{{end}}>합성</option>
					<option value="sup" {{if eq $.User.Team "sup"}}selected{{end}}>수퍼바이저</option>
					<option value="pd" {{if eq $.User.Team "pd"}}selected{{end}}>PD</option>
				</select>
			</div>
			<div class="field"><label>직책</label>
				<select type="text" name="position">
					<option value=""{{if eq $.User.Role ""}}selected{{end}}>없음</option>
					<option value="lead" {{if eq $.User.Role "lead"}}selected{{end}}>팀장</option>
				</select>
			</div>
			<div class="field"><label>이메일</label>
				<input type="text" name="email" value="{{$.User.Email}}"/>
			</div>
			<div class="field"><label>전화번호</label>
				<input type="text" name="phone_number" value="{{$.User.PhoneNumber}}"/>
			</div>
			<div class="field"><label>입사일</label>
				<input type="date" name="entry_date" value="{{$.User.EntryDate}}">
			</div>

			<!--버튼 : 설정 저장-->
			<button class="ui button green" type="submit" value="Submit">설정 저장</button>
		</form>
	<div class="ui section divider"></div>
	<!--비밀번호 변경-->
		<h2 class="ui dividing header">비밀번호 변경</h2>
		<form action="/update-password" method="post" class="ui form">
			<div class="field"><label>기존 패스워드</label>
				<input type="password" name="old_password"/>
			</div>
			<div class="field"><label>새 패스워드</label>
				<input type="password" name="new_password"/>
			</div>
			<div class="field"><label>새 패스워드 재입력</label>
				<input type="password" name="new_password_confirm"/>
			</div>
			<!--버튼 : 비밀번호 변경-->
			<button class="ui button green" type="submit" value="Submit" >비밀번호 변경</button>
		</form>
	<div class="ui section divider"></div>
	<!--setting-->
	<h2 class="ui dividing inverted header">Setting</h2>
		<!--언어선택-->
		<div class="ui inverted form">
			<div class="inline fields">
				<label for="language">Select Language:</label>
				<div class="field">
					<div class="ui language radio checkbox">
						<input type="radio" name="language" checked="" tabindex="0" class="hidden">
						<label>한글</label>
					</div>
				</div>
				<div class="field">
					<div class="ui language radio checkbox">
						<input type="radio" name="language" tabindex="0" class="hidden">
						<label>English</label>
					</div>
				</div>
			</div>
</div>
{{template "footer.html"}}
