{{template "head.html"}}
{{template "nav.html" $}}

<style>
.clipper {
	flex: 1;
	text-align: center;
	border-bottom: 1px solid #AAA;
	line-height: 0.1em;
	margin: 10px 0 20px;
}
.versions-divider {
	height:3rem;
}
.version {
	padding:1rem;
	border: solid 1px #333;
}
.version-divider {
	height:2.5rem;
}
.sub-title {
	font-size:1.3rem;
	color:#ccc;
	margin-bottom:1rem;
}
#retake-button {
	background-color: #a33;
	padding: 0.7rem;
	border-radius: 1px;
	color: white;
}
#retake-button:hover {
	background-color: #a33;
	color: white;
}
#retake-button:disabled {
	background-color: #655;
	padding: 0.7rem;
	border-radius: 1px;
	color: #ccc;
}
#approve-button {
	width: 4rem;
	// background-color: #565;
	background-color: #292;
	padding: 0.7rem;
	border-radius: 1px;
	color: white;
}
#approve-button:hover {
	background-color: #292;
	color: white;
}
</style>

<div id="bg" style="width:100%;display:flex;justify-content:center;margin:4rem 0rem"> <!-- ( -->
	<div id="main" style="background-color:transparent;width:700px"> <!-- ( -->
		{{with $t := $.Task}}
		<div id="title-bar" style="margin-bottom:3rem;"> <!-- ( -->
			<h2 style="color:#ddd">
				태스크 리뷰
			</h2>
			<div style="color:#818181;font-size:1.2rem;">
				<a href="/update-show?id={{$t.Show}}" style="color:#9f9f9f">{{$t.Show}}</a> /
				{{$t.Category}} /
				<a href="/update-shot?id={{$t.Show}}/{{$t.Category}}/{{$t.Unit}}" style="color:#9f9f9f">{{$t.Unit}}</a> /
				<a href="/update-task?id={{$t.Show}}/{{$t.Category}}/{{$t.Unit}}/{{$t.Task}}" style="color:#9f9f9f">{{$t.Task}}</a>
			</div>
		</div> <!-- ) title-bar -->
		{{end}}

		<div class="versions"> <!-- ( -->
		{{with $.Versions}}
			{{if not $.ShowAllVersions}}
			<a href="?id={{$.Task.ID}}&all-versions=1" style="display:flex;justify-content:center;align-items:center;color:#38d;cursor:pointer;">
				<span>모든 버전 보기</span>
			</a>
			<div class="versions-divider"></div>
			{{end}}

			{{range $i, $v := $.Versions}}
			{{if $i}}
			<div class="versions-divider"></div>
			{{end}}
			<div class="version" style="background-color:#393939"> <!-- ( -->
				<div style="display:flex;justify-content:space-between;font-size:1.5rem;color:#ccc;margin-bottom:2rem">
					<div>버전 {{$v.Version}}</div>
					<div>{{$v.Owner}}</div>
				</div>
				<div class="version-divider"></div>
				{{with $prev := versionPreviewFiles $v.ID}}
				<div class="version-previews">
					<div style="font-size:1.3rem;color:#ccc;margin-bottom:1rem">프리뷰 영상 및 이미지</div>
					{{if $prev.N}}
						{{range $mov := $prev.Movs}}
							<div style="margin-bottom:0.3rem"><a href={{$mov}} style="color:#38d">{{basename $mov}}</a></div>
						{{end}}
						{{range $img := $prev.Imgs}}
							<div style="margin-bottom:0.3rem"><a href={{$img}} style="color:#38d">{{basename $img}}</a></div>
						{{end}}
					{{else}}
						<div style="color:#AAA;font-size:0.8rem">등록된 영상 또는 이미지가 없습니다.</div>
					{{end}}
				</div>
				{{end}}
				<div class="version-divider"></div>
				<div class="version-outputs">
					<div style="font-size:1.3rem;color:#ccc;margin-bottom:1rem">아웃풋 경로</div>
					{{with $outputs := $v.OutputFiles}}
						{{range $output := $outputs}}
							<div style="margin-bottom:0.3rem;color:#aaa">{{$output}}</div>
						{{end}}
					{{else}}
						<div style="color:#aaa">등록된 파일이 없습니다.</div>
					{{end}}
				</div>
				{{if eq $i (sub (len $.Versions) 1)}}
				<div class="version-divider"></div>
				<div class="version-review"> <!-- ( -->
					<div class="sub-title">리뷰</div>
					<textarea id="review-msg" style="width:100%;height:8rem" onkeyup="onComment()"></textarea>
					<div style="height:0.5rem;"></div>
					<div style="display:flex;justify-content:flex-end;">
						<button disabled id="retake-button">리테이크</button>
						<div style="width:0.5rem"></div>
						<button id="approve-button">승인</button>
					</div>
				</div> <!-- ) .version-review -->
				{{end}}
			</div> <!-- ) .version -->
			{{end}}

		{{else}}
			<div style="color:#AAA">등록된 버전이 없습니다.</div>
		{{end}}
		</div> <!-- ) .versions -->
	</div> <!-- ) main -->
</div> <!-- ) bg -->

<script>
function onComment() {
	el = document.getElementById("review-msg")
	retakeBtn = document.getElementById("retake-button")
	retakeBtn.disabled = true
	if (el.value != "") {
		retakeBtn.disabled = false
	}
}
</script>

{{template "footer.html"}}
