{{template "head.html" }}
{{template "nav.html" $}}
{{template "search-menu.html" $}}
<div style="padding:15px 10px 15px 10px;z-index:0;">
<!--검색 결과-->
{{range $s := .Shots}}
<div class="ui inverted segment">
	<div class="shot-head" style="height:20px;display:flex;align-items:end;margin-bottom:3px;font-size:15px;">
		<div style="width:192px;margin-right:20px;">
			<a class="ui medium grey header" style="flex:1"; href="/shot/{{$.Project}}/{{.ID}}">{{.ID}}</a>
			<a style="font-size:10px;" href="/update-shot?project_id={{$.Project}}&id={{.ID}}">수정</a>
		</div>
		<div style="flex:1;font-size:14px;"> {{.CGDescription}}</div>
		{{if not .DueDate.IsZero}}<div>~ {{stringFromDate .DueDate}}</div>{{end}}
	</div>
	<div class="shot-main" style="display:flex;">
		<div style="width:192px;margin-right:20px;">
			{{if hasThumbnail $.Project .ID}}
			<img style="width:192px;height:108px;" src="/thumbnail/{{$.Project}}/{{.ID}}.png" />
			{{else}}
			<div style="box-sizing:border-box;width:192px;height:108px;color:#444444;background-color:#BBBBBB;font-size:12px;padding:4px;">{{.Description}}</div>
			{{end}}
		</div>
		<div style="flex:1;">
			<table class="ui very compact striped inverted table">
				<tbody>
					{{range .WorkingTasks}}
					{{with index (index $.Tasks $s.ID) .}}
					<tr>
						<td class="one wide left align">{{.Name}}</td>
						<td class="one wide left align">{{.Status.UIString}}</td>
						<td class="one wide left align">{{.Assignee}}</td>
						<td class="one wide left align">{{if .LastOutputVersion}}{{printf "v%03d" .LastOutputVersion}}{{end}}</td>
						<td class="one wide left align">01/01</td>
						<td class="eight wide left align"></td>
						<td class="one wide left align">{{if and (eq $.LoggedInUser .Assignee) (ge .LastOutputVersion 1)}}<a href="/update-version?project_id={{.ProjectID}}&shot_id={{.ShotID}}&task_name={{.Name}}&version={{.LastOutputVersion}}" style="font-size:10px">수정</a>{{end}}</td>
						<td class="one wide left align">{{if eq $.LoggedInUser .Assignee}}<a href="/add-version?project_id={{.ProjectID}}&shot_id={{.ShotID}}&task_name={{.Name}}" style="font-size:10px">추가</a>{{end}}</td>
					</tr>
					{{end}}
					{{end}}
				</tbody>
			</table>
		</div>
	</div>
	<div class="shot-footer" style="display:flex;">
		<div class="shot-timecode" style="width:192px;margin-right:20px;display:flex;justify-content:space-between;font-size:11px;color:gray;">
			<div>
				<button class="ui grey mini label">{{.TimecodeIn}}</button>
				<button class="ui grey mini label">{{.TimecodeOut}}</button>
			</div>
			<div class="ui black mini label">{{.Duration}}f</div>
		</div>
		<div>
			<div class="ui blue mini label">{{.Status}} </div>
			{{range $i, $v := .Tags -}}
			{{if ne $i 0}}{{end}}<a class="ui grey mini label" href="?tag={{.}}">{{.}}</a>
			{{- end}}
		</div>
	</div>
</div>
{{end}}
</div>
<!--검색 결과 끝-->
<script>
function projectChanged() {
	prj = document.getElementById("project-select").value;
	document.location.href = prj;
};
</script>
{{template "footer.html"}}
