{{template "head.html" }}
{{template "nav.html" $}}
{{template "search-menu.html" $}}
<div style="padding:15px 10px 15px 10px;z-index:0;">
<!--검색 결과-->
{{range $s := .Shots}}
<div class="ui inverted segment">
	<div class="shot-head" style="height:20px;display:flex;align-items:end;margin-bottom:4px;font-size:15px;">
		<div class="ui" style="width:288px;margin-right:22px;display:flex;align-items:end;">
				<div style="display:flex;flex-direction:column;">
					<div style="font-size:1.3rem;color:white;"><b>{{.Shot}}</b></div>
					<div style="height:2px;border-radius:1px;background-color:var(--{{.Status.UIColor}});"></div>
				</div>
				<div style="width:1rem;display:inline-block;"></div>
				<div style="flex:1;"></div>
				<a style="font-size:0.7rem;color:#666666;" href="/update-shot?project={{$.Project}}&shot={{.Shot}}">수정</a>
		</div>
		<div style="flex:1;font-size:14px;"> {{.CGDescription}}</div>
	</div>
	<div class="shot-main" style="display:flex;margin-bottom:6px;">
		<div style="width:288px;margin-right:22px;">
			{{if hasThumbnail $.Project .Shot}}
			<img style="width:288px;height:162px;" src="/thumbnail/{{$.Project}}/{{.Shot}}.png" />
			{{else}}
			<div style="box-sizing:border-box;width:288px;height:162px;color:#444444;background-color:#BBBBBB;font-size:12px;padding:4px;">{{.Description}}</div>
			{{end}}
			<div style="display:flex;justify-content:space-between;font-size:11px;color:gray;margin:0px;">
				<div>{{.TimecodeIn}} - {{.TimecodeOut}}</div>
				<div><div style="display:inline-block;">{{.Duration}}</div> f</div>
			</div>
		</div>
		<div style="flex:1;">
			<table class="ui very compact striped inverted celled table">
				<tbody>
					{{range .WorkingTasks}}
					{{with index (index $.Tasks $s.Shot) .}}
					<tr style="font-size:0.9rem;color:#AAAAAA">
						<td class="ui one wide left aligned">
							<div style="display:flex;padding:0 0.5rem;">
								<div style="flex:1;display:inline-block;">
									<a href="" style="color:white;">{{.Task}}</a>
								</div>
								<a style="font-size:0.7rem;color:#666666;" href="/update-task?project={{$.Project}}&shot={{.Shot}}&task={{.Task}}">수정</a>
							</div>
						</td>
						<td class="one wide center aligned">
							<div>{{.Status.UIString}}</div>
						</td>
						<td class="one wide center aligned">
							<div>{{shortStringFromDate .DueDate}}</div>
						</td>
						<td class="one wide center aligned">
							<div>{{.Assignee}}</div>
						</td>
						<td class="one wide center aligned">
								{{if .LastOutputVersion}}
									<a href="/version/{{.Project}}/{{.Shot}}/{{.Task}}/{{.LastOutputVersion}}" style="color:#AAAAAA;">{{printf "v%03d" .LastOutputVersion}}</a>
								{{end}}
						</td>
						<td class="one wide right aligned">
							<div style="display:flex;padding:0 0.5rem;justify-content:end;">
								<i class="copy outline icon"></i>
								<div style="display:inline-block;width:0.5rem;"></div>
								<i class="comment icon"></i> 0
							</div>
						</td>
					</tr>
					{{end}}
					{{end}}
				</tbody>
			</table>
		</div>
	</div>
	<div class="shot-footer" style="display:flex;">
		<div style="width:288px;margin-right:22px;padding:1px;display:flex;justify-content:space-between">
			<div style="display:flex;">
				<div>{{.Status.UIString}}</div>
			</div>
			{{if not .DueDate.IsZero}}<div class="detail">{{stringFromDate .DueDate}}</div>{{end}}
		</div>
		<div>
			{{range $i, $v := .Tags -}}
			{{if ne $i 0}}{{end}}<a class="ui grey mini label" href="?tag={{.}}">{{.}}</a>
			{{- end}}
		</div>
	</div>
</div>
{{end}}
</div>
<!--검색 결과 끝-->
<script>
function projectChanged() {
	prj = document.getElementById("project-select").value;
	document.location.href = prj;
};
</script>
{{template "footer.html"}}
