{{template "head.html" }}
{{template "nav.html" $}}
{{template "search-menu.html" $}}
<div style="padding:15px 10px 15px 10px;z-index:0;">
<!--검색 결과-->
{{range $s := .Shots}}
<div class="ui inverted segment">
	<div class="shot-head" style="height:20px;display:flex;align-items:end;margin-bottom:4px;font-size:15px;">
		<div class="ui" style="width:288px;margin-right:22px;display:flex;align-items:end;">
				<div style="display:flex;flex-direction:column;">
					<a href="/update-shot?show={{$.Show}}&shot={{.Shot}}" style="font-size:1.3rem;color:white;border-bottom:solid 1px var(--{{.Status.UIColor}});">
						<b>{{.Shot}}</b>
					</a>
				</div>
				<div style="width:1rem;display:inline-block;"></div>
				<div style="flex:1;"></div>
		</div>
		<div style="flex:1;font-size:14px;"> {{.CGDescription}}</div>
	</div>
	<div class="shot-main" style="display:flex;margin-bottom:6px;">
		<div style="width:288px;margin-right:22px;">
			{{if hasThumbnail $.Show .Shot}}
			<img style="width:288px;height:162px;" src="/data/show/{{$.Show}}/{{.Shot}}/thumbnail.png" />
			{{else}}
			<div style="box-sizing:border-box;width:288px;height:162px;color:#444444;background-color:#BBBBBB;font-size:12px;padding:4px;">{{.Description}}</div>
			{{end}}
			<div style="display:flex;justify-content:space-between;font-size:11px;color:gray;margin:0px;">
				<div>{{.TimecodeIn}} - {{.TimecodeOut}}</div>
				<div><div style="display:inline-block;">{{.Duration}}</div> f</div>
			</div>
		</div>
		<div style="flex:1;">
			<table class="ui very compact striped inverted celled table">
				<tbody>
					{{range .WorkingTasks}}
					{{with index (index $.Tasks $s.Shot) .}}
					<tr style="font-size:0.9rem;color:#AAAAAA">
						<td class="ui one wide left aligned">
							<div style="display:flex;padding:0 0.5rem;">
								<div style="flex:1;"><a href="/update-task?show={{$.Show}}&shot={{.Shot}}&task={{.Task}}" style="color:white;flex:1;">{{.Task}}</a></div>
								<div style="flex:1;">{{shortStringFromDate .DueDate}}</div>
								<div style="flex:1;"><a href="/user/{{.Assignee}}" style="color:#AAAAAA;">{{.Assignee}}</a></div>
								<div style="flex:1;">{{if .WorkingVersion}}<a href="/update-version?show={{.Show}}&shot={{.Shot}}&task={{.Task}}&version={{.WorkingVersion}}" style="color:#AAAAAA;">{{.WorkingVersion}} / {{.WorkingVersionStatus.UIString}}</a>{{end}}</div>
								<div style="flex:1;">{{if .PublishVersion}}<a href="/update-version?show={{.Show}}&shot={{.Shot}}&task={{.Task}}&version={{.PublishVersion}}" style="color:#AAAAAA;">{{.PublishVersion}} / 퍼블리시</a>{{end}}</div>
							</div>
						</td>
					</tr>
					{{end}}
					{{end}}
				</tbody>
			</table>
		</div>
	</div>
	<div class="shot-footer" style="display:flex;">
		<div style="width:288px;margin-right:22px;padding:1px;display:flex;justify-content:space-between">
			<div style="display:flex;">
				<div>{{.Status.UIString}}</div>
			</div>
			{{if not .DueDate.IsZero}}<div class="detail">{{stringFromDate .DueDate}}</div>{{end}}
		</div>
		<div>
			{{range $i, $v := .Tags -}}
			{{if ne $i 0}}{{end}}<a class="ui grey mini label" href="?q=tag%3A{{.}}">{{.}}</a>
			{{- end}}
		</div>
	</div>
</div>
{{end}}
</div>
<!--검색 결과 끝-->
<script>
function showChanged() {
	show = document.getElementById("show-select").value;
	document.location.href = "?show=" + show;
};
</script>
{{template "footer.html"}}
