{{template "head.html" }}
{{template "nav.html" $}}
	<div id="main">
		<h1 class="ui top attached inverted header">
			{{$.Shot.ID}}
			<div class="ui blue label">{{$.Shot.Status.UIString}}</div>
			<div class="ui green label">{{stringFromDate $.Shot.DueDate}}</div>
			<div class="ui label">
				<a href="/update-shot?project_id={{$.Shot.ProjectID}}&id={{$.Shot.ID}}" style="font-size:10px;">수정</a>
			</div>
			<div class="sub header"><a href="/search/{{$.Project}}">{{$.Project}}</a></div>
		</h1>
		<div class="ui attached secondary inverted segment">
				<div style="display:flex;">
						<div style="min-width:320px;min-height:180px;background-color:grey;"></div>
						<div style="min-width:20px;"></div>
						<div style="flex:1;display:flex;flex-direction:column;">
							<div style="display:flex;"><div style="min-width:80px;">샷 내용</div><div style="color:grey;min-width:20px;">|</div><div>{{.Shot.Description}}</div></div>
							<div style="display:flex;"><div style="min-width:80px;">CG내용</div><div style="color:grey;min-width:20px;">|</div><div>{{.Shot.CGDescription}}</div></div>
							<div style="flex:1;"></div>
							<div style="display:flex;min-width:150px;"><div style="width:80px;">타임코드</div><div style="color:grey;min-width:20px;">|</div><div style="flex:1;">{{.Shot.TimecodeIn}}-{{.Shot.TimecodeOut}}</div></div>
							<div style="display:flex;min-width:150px;"><div style="width:80px;">프레임</div><div style="color:grey;min-width:20px;">|</div></div>
							<div style="display:flex;min-width:150px;"><div style="width:80px;">스캔경로</div><div style="color:grey;min-width:20px;">|</div></div>
							<div style="display:flex;min-width:150px;"><div style="width:80px;">mov경로</div><div style="color:grey;min-width:20px;">|</div></div>
						</div>
					</div>
		</div>
		<h5 class="ui attached inverted header">컨펌</h5>
		<div class="ui attached secondary inverted segment">
			<div style="display:flex;font-size:12px;">
				<div>#8 2018-09-11</div>
				<div style="flex:1;"></div>
				<div>이전 컨펌 내용</div>
			</div>
		</div>
		<h5 class="ui attached inverted header">Tasks</h5>
		<div class="ui attached secondary inverted segment" style="display:flex;">
			<div style="display:flex;flex-wrap:wrap;">
				{{range $.Shot.WorkingTasks}}
				<div style="width:200px;border-bottom:solid 1px #DDDDDD;border-right:solid 1px #DDDDDD;padding:2px;background-color:#CCCCCC;">{{.}}</div>
				{{end}}
				<div style="flex:1;"></div>
			</div>
		</div>
	</div>
</div>
{{template "footer.html"}}
