{{template "head.html" }}
{{template "nav.html" $}}
{{template "search-menu.html" $}}
<style>
.tasks {
	flex: 1;
	height: max-content;
	color: #AAA;
	background-color: #333;
	border-radius: 4px;
	font-size: 0.9rem;
}
.task {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	padding: 0.4rem 1.1rem;
	border-top: solid 1px rgba(255,255,255,0.1);
}
.task:nth-child(even) {
	background-color: rgba(255,255,255,0.05);
}
.task:nth-child(1) {
	border-top: 0;
}
</style>
<div style="padding:15px 10px 15px 10px;z-index:0;">
<!--검색 결과-->
{{range $s := .Shots}}
<div id="{{$.Show}}/{{.Shot}}" class="ui inverted segment shot">
	<div class="shot-head" style="height:20px;display:flex;align-items:end;margin-bottom:4px;font-size:15px;">
		<div class="ui" style="width:288px;margin-right:22px;display:flex;align-items:end;">
				<div style="display:flex;flex-direction:column;">
					<a href="/update-shot?id={{$.Show}}/{{.Shot}}" style="font-size:1.3rem;color:white;border-bottom:solid 1px var(--{{.Status.UIColor}});">
						<b>{{.Shot}}</b>
					</a>
				</div>
				<div style="width:1rem;display:inline-block;"></div>
				<div style="flex:1;"></div>
		</div>
		<div style="flex:1;font-size:14px;"> {{.CGDescription}}</div>
	</div>
	<div class="shot-main" style="display:flex;margin-bottom:6px;">
		<div style="width:288px;margin-right:22px;">
			{{if hasThumbnail $.Show .Shot}}
			<img style="width:288px;height:162px;" src="{{if hasThumbnail $.Show .Shot}}/data/show/{{$.Show}}/{{.Shot}}/thumbnail.png{{end}}" onclick="selectShot(this)" />
			{{else}}
			<div style="box-sizing:border-box;width:288px;height:162px;color:#444444;background-color:#BBBBBB;font-size:12px;padding:4px;"  onclick="selectShot(this)">{{.Description}}</div>
			{{end}}
			<div style="display:flex;justify-content:space-between;font-size:11px;color:gray;margin:0px;">
				<div>{{.TimecodeIn}} - {{.TimecodeOut}}</div>
				<div><div style="display:inline-block;">{{.Duration}}</div> f</div>
			</div>
		</div>
		<div class="tasks">
			{{range $i, $t := .Tasks}}
			{{with index (index $.Tasks $s.Shot) $t}}
			<div id="task-{{.ID}}" class="task">
				<div class="task-id"><a href="/update-task?id={{.Show}}/{{.Shot}}/{{.Task}}" style="color:white;flex:1;">{{.Task}}</a></div>
				<div class="task-due_date">{{shortStringFromDate .DueDate}}</div>
				<div class="task-assignee"><a href="/user/{{.Assignee}}" style="color:inherit">{{.Assignee}}</a></div>
				<div class="task-working_version">{{if .WorkingVersion}}<a href="/update-version?id={{.Show}}/{{.Shot}}/{{.Task}}/{{.WorkingVersion}}" style="color:inherit">{{.WorkingVersion}} / {{.WorkingVersionStatus.UIString}}</a>{{end}}</div>
				<div class="task-publish_version">{{if .PublishVersion}}<a href="/update-version?id={{.Show}}/{{.Shot}}/{{.Task}}/{{.PublishVersion}}" style="color:inherit">{{.PublishVersion}} / 퍼블리시</a>{{end}}</div>
			</div>
			{{end}}
			{{end}}
		</div>
	</div>
	<div class="shot-footer" style="display:flex;">
		<div style="width:288px;margin-right:22px;padding:1px;display:flex;justify-content:space-between">
			<div style="display:flex;">
				<div class="shot-status">{{.Status.UIString}}</div>
			</div>
			<div class="shot-due_date detail">{{if not .DueDate.IsZero}}{{stringFromDate .DueDate}}{{end}}</div>
		</div>
		<div class="shot-tags">
			{{range $i, $v := .Tags -}}
			{{if ne $i 0}}{{end}}<a class="ui grey mini label" href="?q=tag%3A{{.}}">{{.}}</a>
			{{- end}}
		</div>
	</div>
</div>
{{end}}
</div>
<div id="bottom-bar" hidden style="position:fixed;bottom:0;width:100%;border-top:solid 1px #333;background-color:#444">
	<div id="bottom-bar-menu" style="background-color:#333;display:flex;height:4.5rem;padding:1rem;">
		<button style="margin-right:1rem;width:6rem;border-radius:2px" onclick="gotoUpdateMultiShotsPage()">샷 수정</button>
		<button style="margin-right:1rem;width:8rem;border-radius:2px" onclick="gotoUpdateMultiTasksPage()">태스크 수정</button>
		<div style="flex:1;justify-content:end;"></div>
	</div>
	<div style="display:flex;align-items:center;height:3.5rem;padding:0.5rem;border-top:solid 1px #222">
		<div id="bottom-bar-notifier" style="color:white;margin-right:1rem"></div>
		<a onclick="selectAllShots()" style="cursor:pointer;margin-right:1rem">전체선택</a>
		<a onclick="deselectAllShots()" style="cursor:pointer">전체해제</a>
	</div>
</div>
<!--검색 결과 끝-->
<script>
// showChanged는 다른 쇼 페이지로 이동한다.
function showChanged() {
	show = document.getElementById("show-select").value;
	document.location.href = "?show=" + show;
};

// selectedshots에 선택된 샷이 담긴다.
let selectedShots = {}

// selectShot은 샷 이미지를 클릭했을때 해당 샷을 선택한다.
function selectShot(img) {
	let shot = img.closest(".shot").id
	if (selectedShots[shot]) {
		delete selectedShots[shot]
	} else {
		selectedShots[shot] = true
	}
	redrawBottomBar()
}

// selectAllShots는 모든 샷을 선택한다.
function selectAllShots() {
	selectedShots = {}
	for (let el of document.getElementsByClassName("shot")) {
		selectedShots[el.id] = true
	}
	redrawBottomBar()
}

// deselectAllShots는 모든 샷의 선택을 해제한다.
function deselectAllShots() {
	selectedShots = {}
	redrawBottomBar()
}

// redrawBottomBar는 하나 이상의 샷이 선택되었을때 이를 알려주고
// 한번에 수정할 수 있게 해주는 하단 바를 그린다.
function redrawBottomBar() {
	for (let el of document.getElementsByClassName("shot")) {
		el.classList.remove("selected-shot")
	}
	for (let shot in selectedShots) {
		let el = document.getElementById(shot)
		el.classList.add("selected-shot")
	}
	let bar = document.getElementById("bottom-bar")
	if (Object.keys(selectedShots).length == 0) {
		bar.hidden = true
	} else {
		bar.hidden = false
	}
	let notifier = document.getElementById("bottom-bar-notifier")
	notifier.innerHTML = String(Object.keys(selectedShots).length) + "개의 샷이 선택되었습니다."
}

// gotoUpdateMultiShotsPage는 선택된 샷들을 한번에 수정할 수 있도록 해주는 페이지로 이동한다.
function gotoUpdateMultiShotsPage() {
	// 나중에 히스토리의 뒤로가기 기능을 이용해 이 페이지로 되돌아올 경우
	// 선택된 샷들의 정보는 변경되었을 가능성이 크므로 다시 불러와야 한다.
	sessionStorage.reload = "1"
	sessionStorage.selectedShots = JSON.stringify(selectedShots)

	let form = document.createElement("form")
	form.action = "/update-multi-shots"
	// 주의: GET의 최대 데이터 전송 크기 제한때문에 현재 POST로 전송한다.
	form.method = "POST"
	for (let s of Object.keys(selectedShots)) {
		let input = document.createElement("input")
		input.hidden = true
		input.type = "text"
		input.name = "id"
		input.value = s
		form.appendChild(input)
	}
	document.body.appendChild(form)
	form.submit()
}

// gotoUpdateMultiTasksPage는 선택된 샷들의 태스크를 한번에 수정할 수 있도록 해주는 페이지로 이동한다.
function gotoUpdateMultiTasksPage() {
	// 나중에 히스토리의 뒤로가기 기능을 이용해 이 페이지로 되돌아올 경우
	// 선택된 샷들의 정보는 변경되었을 가능성이 크므로 다시 불러와야 한다.
	sessionStorage.reload = "1"
	sessionStorage.selectedShots = JSON.stringify(selectedShots)

	let form = document.createElement("form")
	form.action = "/update-multi-tasks"
	// 주의: GET의 최대 데이터 전송 크기 제한때문에 현재 POST로 전송한다.
	form.method = "POST"
	for (let s of Object.keys(selectedShots)) {
		let input = document.createElement("input")
		input.hidden = true
		input.type = "text"
		input.name = "id"
		input.value = s
		form.appendChild(input)
	}
	document.body.appendChild(form)
	form.submit()
}

// shotStatusUIString은 샷 상태를 UI에서 표시할 문자열로 바꾸는 사전이다.
let shotStatusUIString = {
	{{range $st := $.AllShotStatus}}
	{{$st}}: {{$st.UIString}},
	{{end}}
}

// taskStatusUIString은 태스크 상태를 UI에서 표시할 문자열로 바꾸는 사전이다.
let taskStatusUIString = {
	{{range $st := $.AllTaskStatus}}
	"{{$st}}": {{$st.UIString}},
	{{end}}
}

// isZeroTime은 받아들인 RFC3339 문자열이 Go의 빈 시간을 가리키는 문자열인지 검사한다.
function isZeroTime(t) {
	if (t == "0001-01-01T00:00:00Z") {
		return true
	}
	return false
}

// toDate는 받아들인 RFC3339 문자열 t에서 시간 및 타임존을 제외한 연-월-일 문자열을 반환한다.
// 만일 t가 Go의 빈 시간에 해당하는 문자열이라면 빈 문자열을 반환한다.
function toDate(t) {
	// 할일: 타임존 부분 생각해볼것
	if (isZeroTime(t)) {
		return ""
	}
	return t.split("T")[0]
}

// toShortDate는 받아들인 RFC3339 문자열 t에서 연도, 시간 및 타임존을 제외한 월-일 문자열을 반환한다.
// 만일 t가 Go의 빈 시간에 해당하는 문자열이라면 빈 문자열을 반환한다.
function toShortDate(t) {
	// 할일: 타임존 부분 생각해볼것
	if (isZeroTime(t)) {
		return ""
	}
	ymd = t.split("T")[0]
	ymds = ymd.split("-")
	return ymds[1] + "-" + ymds[2]
}

// reloadShots는 이 페이지에서 다른 페이지로 갔다가 히스토리를 이용하여 되돌아 왔을때
// 선택되었던 샷을 되살리고 그 정보를 다시 부른다.
//
// F5 등을 눌러 문서를 리로드하면 당연히 모든 정보를 새로 부르겠지만 현재 뷰나 선택된
// 샷에 대한 정보가 날아간다. 계속해서 샷 정보를 수정해야하는 PM 입장에서는 이 과정이
// 귀찮은 일이 될 것이다. 이를 방지하고자 이런 방식을 사용한다.
//
// 정보를 되살리는데는 다음 세션 정보를 사용한다.
//
// sessionStorage.reload
// sessionStorage.selectedShots
//
function reloadShots() {
	if (sessionStorage.reload) {
		// 히스토리에서 돌아왔기 때문에 selectedShots 정보를 복구하고 세션을 지운다.
		selectedShots = JSON.parse(sessionStorage.selectedShots)
		sessionStorage.clear()

		redrawBottomBar()

		// 샷, 태스크 수정 페이지에서 되돌아왔기 때문에 해당 샷의 정보를 갱신한다.
		// 갱신하는 정보는 해당 페이지에서 수정할 수 있는 것들 중
		// 이 페이지에서 보여지는 정보에 한한다.
		let req = new XMLHttpRequest()
		req.onload = function() {
			let r = JSON.parse(this.responseText)
			if (r.err != "") {
				console.log(r.err)
				return
			}
			for (let s of r.msg) {
				let shotEl = document.getElementById(s.Show + "/" + s.Shot)
				let shotStatusEl = shotEl.getElementsByClassName("shot-status")[0]
				shotStatusEl.innerHTML = shotStatusUIString[s.Status]
				let shotDueDateEl = shotEl.getElementsByClassName("shot-due_date")[0]
				shotDueDateEl.innerHTML = toDate(s.DueDate)
				let shotTagsEl = shotEl.getElementsByClassName("shot-tags")[0]
				shotTagsEl.innerHTML = ""
				for (let t of s.Tags) {
					shotTagsEl.innerHTML += `<a class="ui grey mini label" href="?q=tag%3A${t}">${t}</a>`
				}
			}
		}
		let shots = Object.keys(selectedShots).sort()
		let q = ""
		for (let s of shots) {
			 q += "id=" + s + "&"
		}
		req.open("POST", "/api/v1/shot/get?" + q)
		req.send()

		// 태스크 정보도 갱신한다.
		let tReq = new XMLHttpRequest()
		tReq.onload = function() {
			let r = JSON.parse(this.responseText)
			if (r.err != "") {
				console.log(r.err)
				return
			}
			for (let t of r.msg) {
				let taskEl = document.getElementById("task-" + t.Show + "/" + t.Shot + "/" + t.Task)
				if (!taskEl) {
					continue
				}
				let taskDueDateEl = taskEl.getElementsByClassName("task-due_date")[0]
				taskDueDateEl.innerHTML = toShortDate(t.DueDate)
				let taskAssigneeEl = taskEl.getElementsByClassName("task-assignee")[0]
				taskAssigneeEl.innerHTML = '<a href="/user/' + t.Assignee + '" style="color:inherit">' + t.Assignee + '</a>'
			}
		}
		// 샷 정보를 받아올때와 같은 id 쿼리를 사용한다.
		tReq.open("POST", "/api/v1/shot-tasks/get?" + q)
		tReq.send()
	}
}

// 히스토리에서 현재 페이지로 되돌아 올 때 firefox는 window.onfocus 이벤트를 발생시키고
// chrome은 window.onload 이벤트를 발생시킨다.
let isFirefox = navigator.userAgent.indexOf("Firefox")
if (isFirefox) {
	window.onfocus = function(event) {
		reloadShots()
	}
}
let isChrome = navigator.userAgent.indexOf("Chrome")
if (isChrome) {
	window.onload = function(event) {
		reloadShots()
	}
}
</script>
{{template "footer.html"}}
