{{template "head.html" }}
{{template "nav.html" $}}
{{template "search-menu.html" $}}
<div style="padding:15px 10px 15px 10px;z-index:0;">
<!--검색 결과-->
{{range $s := .Shots}}
<div id="{{$.Show}}/{{.Shot}}" class="ui inverted segment shot">
	<div class="shot-head" style="height:20px;display:flex;align-items:end;margin-bottom:4px;font-size:15px;">
		<div class="ui" style="width:288px;margin-right:22px;display:flex;align-items:end;">
				<div style="display:flex;flex-direction:column;">
					<a href="/update-shot?id={{$.Show}}/{{.Shot}}" style="font-size:1.3rem;color:white;border-bottom:solid 1px var(--{{.Status.UIColor}});">
						<b>{{.Shot}}</b>
					</a>
				</div>
				<div style="width:1rem;display:inline-block;"></div>
				<div style="flex:1;"></div>
		</div>
		<div style="flex:1;font-size:14px;"> {{.CGDescription}}</div>
	</div>
	<div class="shot-main" style="display:flex;margin-bottom:6px;">
		<div style="width:288px;margin-right:22px;">
			{{if hasThumbnail $.Show .Shot}}
			<img style="width:288px;height:162px;" src="{{if hasThumbnail $.Show .Shot}}/data/show/{{$.Show}}/{{.Shot}}/thumbnail.png{{end}}" onclick="selectShot(this)" />
			{{else}}
			<div style="box-sizing:border-box;width:288px;height:162px;color:#444444;background-color:#BBBBBB;font-size:12px;padding:4px;"  onclick="selectShot(this)">{{.Description}}</div>
			{{end}}
			<div style="display:flex;justify-content:space-between;font-size:11px;color:gray;margin:0px;">
				<div>{{.TimecodeIn}} - {{.TimecodeOut}}</div>
				<div><div style="display:inline-block;">{{.Duration}}</div> f</div>
			</div>
		</div>
		<div style="flex:1;">
			<table class="ui very compact striped inverted celled table">
				<tbody>
					{{range .WorkingTasks}}
					{{with index (index $.Tasks $s.Shot) .}}
					<tr style="font-size:0.9rem;color:#AAAAAA">
						<td class="ui one wide left aligned">
							<div style="display:flex;padding:0 0.5rem;">
								<div style="flex:1;"><a href="/update-task?id={{$.Show}}/{{.Shot}}/{{.Task}}" style="color:white;flex:1;">{{.Task}}</a></div>
								<div style="flex:1;">{{shortStringFromDate .DueDate}}</div>
								<div style="flex:1;"><a href="/user/{{.Assignee}}" style="color:#AAAAAA;">{{.Assignee}}</a></div>
								<div style="flex:1;">{{if .WorkingVersion}}<a href="/update-version?id={{.Show}}/{{.Shot}}/{{.Task}}/{{.WorkingVersion}}" style="color:#AAAAAA;">{{.WorkingVersion}} / {{.WorkingVersionStatus.UIString}}</a>{{end}}</div>
								<div style="flex:1;">{{if .PublishVersion}}<a href="/update-version?id={{.Show}}/{{.Shot}}/{{.Task}}/{{.PublishVersion}}" style="color:#AAAAAA;">{{.PublishVersion}} / 퍼블리시</a>{{end}}</div>
							</div>
						</td>
					</tr>
					{{end}}
					{{end}}
				</tbody>
			</table>
		</div>
	</div>
	<div class="shot-footer" style="display:flex;">
		<div style="width:288px;margin-right:22px;padding:1px;display:flex;justify-content:space-between">
			<div style="display:flex;">
				<div>{{.Status.UIString}}</div>
			</div>
			{{if not .DueDate.IsZero}}<div class="detail">{{stringFromDate .DueDate}}</div>{{end}}
		</div>
		<div>
			{{range $i, $v := .Tags -}}
			{{if ne $i 0}}{{end}}<a class="ui grey mini label" href="?q=tag%3A{{.}}">{{.}}</a>
			{{- end}}
		</div>
	</div>
</div>
{{end}}
</div>
<div id="bottom-bar" hidden style="position:fixed;bottom:0;width:100%;border-top:solid 1px #333">
	<form hidden id="shot-status-bar" class="optional-bar" onsubmit="return fillIDs(this)">
		<select style="width:5rem">
			{{range $s := .AllShotStatus}}
			<option value="{{$s}}">{{$s.UIString}}</option>
			{{end}}
		</select>
		<textarea style="flex:1"></textarea>
		<button>변경</button>
	</form>
	<form hidden id="shot-duedate-bar" class="optional-bar" onsubmit="return fillIDs(this)">
		<input hidden type="text" name="key" value="duedate"/>
		<input type="date" name="val" style="flex:1"/>
		<button>변경</button>
	</form>
	<form hidden method="post" action="/update-multi-shots" id="shot-tag-bar" class="optional-bar" onsubmit="return fillIDs(this)">
		<input hidden class="ids-input" type="text" name="ids" value="" />
		<input hidden type="text" name="key" value="tag"/>
		<input type="text" name="val" style="flex:1"/>
		<button name="typ" value="add">추가</button>
		<button type="submit" name="typ" value="sub">삭제</button>
	</form>
	<form hidden id="shot-task-bar" class="optional-bar" onsubmit="return fillIDs(this)">
		샷 태스크
	</form>
	<form hidden id="task-status-bar" class="optional-bar" onsubmit="return fillIDs(this)">
		태스크 상태
	</form>
	<form hidden id="task-duedate-bar" class="optional-bar" onsubmit="return fillIDs(this)">
		태스크 마감일
	</form>
	<form hidden id="task-assignee-bar" class="optional-bar" onsubmit="return fillIDs(this)">
		태스크 담당
	</form>
	<div id="bottom-bar-menu" style="background-color:#333;display:flex;height:3rem;">
		<div class="bottom-bar-button" style="display:flex;justify-content:center;align-items:center;margin:0 0.5rem 0 0.5rem;width:8rem">
			<select id="bottom-bar-select" style="flex:1;height:2rem;box-sizing:content-box;padding:0" onchange="showShotOrTaskBars()">
				<option value="">샷</option>
				{{range $t := .Site.Tasks}}
				<option value="{{$t}}">{{$t}}</option>
				{{end}}
			</select>
		</div>
		<!-- 샷 -->
		<div id="shot-status-bar-button" class="bottom-bar-button shot-bar" onclick="showShotBar('status')">상태</div>
		<div id="shot-duedate-bar-button" class="bottom-bar-button shot-bar" onclick="showShotBar('duedate')">마감일</div>
		<div id="shot-tag-bar-button" class="bottom-bar-button shot-bar" onclick="showShotBar('tag')">태그</div>
		<div id="shot-task-bar-button" class="bottom-bar-button shot-bar" onclick="showShotBar('task')">태스크</div>
		<!-- 태스크 -->
		<div id="task-status-bar-button" class="bottom-bar-button task-bar" onclick="showTaskBar('status')">상태</div>
		<div id="task-duedate-bar-button" class="bottom-bar-button task-bar" onclick="showTaskBar('duedate')">마감일</div>
		<div id="task-assignee-bar-button" class="bottom-bar-button task-bar" onclick="showTaskBar('assignee')">담당</div>
		<!-- -->
		<div class="bottom-bar-button" style="flex:1;justify-content:end;">
			<button onclick="selectAllShots()" style="height:2rem;margin-right:0.5rem">전체선택</button>
			<button onclick="deselectAllShots()" style="height:2rem;margin-right:0.5rem">전체해제</button>
		</div>
	</div>
	<div id="bottom-bar-notifier" style="color:white;background-color:#444;padding:0.5rem;border-top:solid 1px #222"></div>
</div>
<!--검색 결과 끝-->
<script>
function showChanged() {
	show = document.getElementById("show-select").value;
	document.location.href = "?show=" + show;
};

let selectedShots = {}

function selectShot(thumbEl) {
	let shot = thumbEl.closest(".shot").id
	if (selectedShots[shot]) {
		delete selectedShots[shot]
	} else {
		selectedShots[shot] = true
	}
	redrawBottomBar()
}

function selectAllShots() {
	selectedShots = {}
	for (let el of document.getElementsByClassName("shot")) {
		selectedShots[el.id] = true
	}
	redrawBottomBar()
}

function deselectAllShots() {
	selectedShots = {}
	redrawBottomBar()
}

let bottomBarExplicitlyHidden = false // Esc로 켰다 끈다.

function redrawBottomBar() {
	for (let el of document.getElementsByClassName("shot")) {
		el.classList.remove("selected-shot")
	}
	for (let shot in selectedShots) {
		let el = document.getElementById(shot)
		el.classList.add("selected-shot")
	}
	let bar = document.getElementById("bottom-bar")
	if (Object.keys(selectedShots).length == 0 || bottomBarExplicitlyHidden) {
		bar.hidden = true
	} else {
		bar.hidden = false
	}
	let notifier = document.getElementById("bottom-bar-notifier")
	notifier.innerHTML = String(Object.keys(selectedShots).length) + "개의 샷이 선택되었습니다."
}

function showShotOrTaskBars() {
	let select = document.getElementById("bottom-bar-select")
	let showShot = (select.value == "")
	for (let el of document.getElementsByClassName("task-bar")) {
		el.hidden = showShot
	}
	for (let el of document.getElementsByClassName("shot-bar")) {
		el.hidden = !showShot
	}
	// 첫번째 바를 띄운다.
	if (showShot) {
		showShotBar("status")
	} else {
		showTaskBar("status")
	}
}

showShotOrTaskBars()

function showShotBar(name) {
	for (let el of document.getElementsByClassName("bottom-bar-button")) {
		el.classList.remove("active")
	}
	document.getElementById("shot-" + name + "-bar-button").classList.add("active")
	for (let el of document.getElementsByClassName("optional-bar")) {
		el.hidden = true
	}
	document.getElementById("shot-" + name + "-bar").hidden = false
}

function showTaskBar(name) {
	for (let el of document.getElementsByClassName("bottom-bar-button")) {
		el.classList.remove("active")
	}
	document.getElementById("task-" + name + "-bar-button").classList.add("active")
	for (let el of document.getElementsByClassName("optional-bar")) {
		el.hidden = true
	}
	document.getElementById("task-" + name + "-bar").hidden = false
}

function fillIDs(form) {
	let el = form.getElementsByClassName("ids-input")[0]
	el.value = Object.keys(selectedShots).join()
	return true
}

document.onkeydown = function(ev) {
	if (ev.key == "Escape") {
		ev.preventDefault()
		bottomBarExplicitlyHidden = !bottomBarExplicitlyHidden
		redrawBottomBar()
	}
}
</script>
{{template "footer.html"}}
