{{template "head.html" }}
<div style="margin-top:10%;"></div>
<div class="ui middle aligned center aligned grid">
	<div class="column" style="width:350px;">
		<h2 class="ui header">
			<div class="content">Sign-Up</div>
			</h2>
		<!--가입정보 입력폼-->
		<form class="ui large form" method="post">
			<div class="ui grey inverted segment">
				<div class="field"><!--아이디 입력-->
					<div class="ui left icon input">
					<i class="user icon"></i><input id="signup_id" name="id" value="" type="text"></input>
					</div>
				</div>
				<div class="field"><!--비밀번호 입력-->
					<div class="ui left icon input">
					<i class="lock icon"></i><input id="signup_password" name="password" value="" type="password"></input>
					</div>
				</div>
				<div class="field"><!--비밀번호 재입력-->
					<div class="ui left icon input">
					<i class="lock icon"></i><input id="signup_password_confirm" name="password_confirm" value="" type="password"></input>
					</div>
				</div>
				<button class="ui fluid large green submit button" type="submit">가입</button>
			</div>
		</form>
		<!--에러 안내 메세지 출력-->
		<!--이미 가입되어 있는 경우 로그인페이지로 이동-->
		<div class="ui divider"></div>
		<a href="/login"><button class="ui large button">로그인</button></a>
	</div>
</div>
{{template "footer.html"}}