{{template "head.bml"}}
{{template "nav.html" $}}
<div class="ui raised very padded text container grey inverted segment">
	{{with $s := $.Show}}
	<h2 class="ui header">프로젝트 설정</h2>
	<h3 class="ui dividing header">
		<span style="color:#ccc">{{$s.Show}}</span>
	</h3>
	{{end}}
	<form method="post" class="ui form">
		<input hidden type="text" name="show" value="{{.Show.Show}}"/>
		<div class="field"><label>상태</label>
			<select type="text" name="status">
				{{range $s := $.AllShowStatus}}
				<option value="{{$s}}" {{if eq $s $.Show.Status}}selected{{end}}>{{$s.UIString}}</option>
				{{end}}
			</select>
		</div>
		<div class="field"><label>영문이름</label>
			<input type="text" name="name" value="{{.Show.Name}}"/>
		</div>
		<!--type 설정-->
		<div class="field"><label>타입</label>
			<select id="show-type" class="ui dropdown">
				<!--목록을 시스템 설정에서 가져옵니다.-->
				<option value="">Select Show Type</option>
				<option value="Feature Film">Feature Film</option>
				<option value="Animation">Animation</option>
				<option value="Commercial">Commercial</option>
				<option value="MusicVideo">MusicVideo</option>
				<option value="A-type">A-type</option>
				<option value="B-type">B-type</option>
			  </select>
		</div>
		<div class="field"><label>클라이언트</label>
			<input type="text" name="client" value="{{.Show.Client}}"/>
		</div>
		<div class="field"><label>감독</label>
			<input type="text" name="director" value="{{.Show.Director}}"/>
		</div>
		<div class="field"><label>PD</label>
			<input type="text" name="producer" value="{{.Show.Producer}}"/>
		</div>
		<div class="field"><label>VFX 수퍼바이저</label>
			<input type="text" name="vfx_supervisor" value="{{.Show.VFXSupervisor}}"/>
		</div>
		<div class="field"><label>VFX 매니저</label>
			<input type="text" name="vfx_manager" value="{{.Show.VFXManager}}"/>
		</div>
		<div class="field"><label>CG 수퍼바이저</label>
			<input type="text" name="cg_supervisor" value="{{.Show.CGSupervisor}}"/>
		</div>
		<div class="field"><label>크랭크 인</label>
			<input type="date" name="crank_in" value="{{stringFromDate .Show.CrankIn}}"/>
		</div>
		<div class="field"><label>크랭크 업</label>
			<input type="date" name="crank_up" value="{{stringFromDate .Show.CrankUp}}"/>
		</div>
		<div class="field"><label>시작일</label>
			<input type="date" name="start_date" value="{{stringFromDate .Show.StartDate}}"/>
		</div>
		<div class="field"><label>종료일</label>
			<input type="date" name="release_date" value="{{stringFromDate .Show.ReleaseDate}}"/>
		</div>
		<div class="field"><label>VFX 종료일</label>
			<input type="date" name="vfx_due_date" value="{{stringFromDate .Show.VFXDueDate}}"/>
		</div>
		<div class="field"><label>아웃풋 사이즈</label>
			<input type="text" name="output_size" value="{{.Show.OutputSize}}"/>
		</div>
		<div class="field"><label>View Lut 경로</label>
			<input type="text" name="view_lut" value="{{.Show.ViewLUT}}"/>
		</div>
		<div class="field"><label>기본 샷 태스크</label>
			<input type="text" name="default_shot_tasks" value="{{fieldJoin .Show.DefaultShotTasks}}"/>
		</div>
		<div class="field"><label>기본 애셋 태스크</label>
			<input type="text" name="default_asset_tasks" value="{{fieldJoin .Show.DefaultAssetTasks}}"/>
		</div>
		<button class="ui button green" type="submit" value="Submit">수정</button>
	</form>
</div>
{{template "footer.bml"}}
