{{template "head.html"}}
{{template "nav.html" $}}
<!--상단 고정 메뉴로 인해 위치 조정-->
<div style="padding-top: 2rem;"></div>
<div class="ui raised very padded text container grey inverted segment">
	<h2 class="ui dividing header">샷 수정</h2>
	<form method="post" class="ui form">
		<div class="field disabled"><label>프로젝트</label>
			<input type="text" name="project_id" value="{{.Shot.ProjectID}}"/>
		</div>
		<div class="field disabled"><label>아이디</label>
			<input type="text" name="id" value="{{.Shot.ID}}"/>
		</div>
		<div class="field"><label>상태</label>
			<input type="text" name="status" value="{{.Shot.Status}}"/>
		</div>
		<div class="field"><label>내용</label>
			<input type="text" name="description" value="{{.Shot.Description}}"/>
		</div>
		<div class="field"><label>편집 순서</label>
			<input type="text" name="edit_order" value="{{.Shot.EditOrder}}"/>
		</div>
		<div class="field"><label>CG 내용</label>
			<input type="text" name="cg_description" value="{{.Shot.CGDescription}}"/>
		</div>
		<div class="field"><label>시작 타임코드</label>
			<input type="text" name="timecode_in" value="{{.Shot.TimecodeIn}}"/>
		</div>
		<div class="field"><label>종료 타임코드</label>
			<input type="text" name="timecode_out" value="{{.Shot.TimecodeOut}}"/>
		</div>
		<div class="field"><label>길이</label>
			<input type="text" name="duration" value="{{.Shot.Duration}}"/>
		</div>
		<div class="field"><label>태그</label>
			<input type="text" name="tags" value="{{join .Shot.Tags ", "}}"/>
		</div>
		<div class="field"><label>태스크</label>
			<input type="text" name="working_tasks" value="{{join .Shot.WorkingTasks ", "}}"/>
		</div>
		<button class="ui button green" type="submit" value="Submit">수정</button>

		<div style="height:2rem;"></div>
	</form>

	<div class="ui form">
		{{range $.Shot.WorkingTasks}}
		{{with index $.Tasks .}}
		<div id="task-{{.Name}}" style="border:solid 1px grey;border-radius:8px;padding:15px;background-color:grey;">
			<div class="field">
				<label class="ui grey label" style="font-size:1.3rem;">{{.Name}}</label>
			</div>
			<div class="field"><label>상태</label>
				<input id="task-{{.Name}}-status" type="text" value="{{.Status}}" />
			</div>
			<div class="field"><label>담당</label>
				<input id="task-{{.Name}}-assignee"  type="text" value="{{.Assignee}}" />
			</div>
			<button id="task-{{.Name}}-btn" class="ui button teal" onclick="updateTask('{{.Name}}')">수정</button>
			<div id="task-{{.Name}}-update-result" class="ui"></div>
		</div>
		<div style="height:2rem;"></div>
		{{end}}
		{{end}}
	</div>
</div>

<script>
function updateTask(name) {
	status = document.getElementById("task-" + name + "-status").value;
	assignee = document.getElementById("task-" + name + "-assignee").value;
	param = new Array(
		"project_id={{$.Shot.ProjectID}}",
		"shot_id={{$.Shot.ID}}",
		"name=" + name,
		"status=" + status,
		"assignee=" + assignee,
	).join("&");
	resEl = document.getElementById("task-" + name + "-update-result");
	resEl.innerText = name + " 태스크를 수정중입니다.";
	f = fetch("/update-task", {
		method: "post",
		headers: {
			"Content-Type": "application/x-www-form-urlencoded; charset=UTF-8",
		},
		body: param,
	});
	f.then(resp => {
		console.log(resp); // 추후 삭제
		if (resp.ok) {
			resEl.innerText = name + " 태스크가 수정되었습니다.";
		} else {
			resp.text().then(body => {
				resEl.innerText = name + " 태스크가 수정되지 않았습니다! (" + body.trim() + ")";
			});
		}
	});
}
</script>
{{template "footer.html"}}
