{{template "head.html"}}
{{template "nav.html" $}}
<div class="ui raised very padded text container grey inverted segment">
	{{with $v := $.Version}}
	<h2 class="ui header">
		버전 수정
	</h2>
	<h3 class="ui dividing header" style="color:#818181">
		<a href="/update-show?id={{$v.Show}}" style="color:#9f9f9f">{{$v.Show}}</a> /
		{{$v.Category}} /
		<a href="/update-shot?id={{$v.Show}}/{{$v.Category}}/{{$v.Unit}}" style="color:#9f9f9f">{{$v.Unit}}</a> /
		<a href="/update-task?id={{$v.Show}}/{{$v.Category}}/{{$v.Unit}}/{{$v.Task}}" style="color:#9f9f9f">{{$v.Task}}</a> /
		<span style="color:#ccc">{{$v.Version}}</span>
	</h3>
	<form method="post" class="ui form" enctype="multipart/form-data">
		<input hidden type="text" name="id" value="{{$v.ID}}" />
		<div class="field"><label>소유자</label>
			<input readonly type="text" name="owner" value="{{$v.Owner}}" />
		</div>
		<div class="field"><label>프리뷰 영상 및 이미지</label>
			{{with $prev := versionPreviewFiles $v.ID}}
				{{if $prev.N}}
					{{range $mov := $prev.Movs}}
						<div><a href={{$mov}} style="font-size:0.8rem;color:#AAA">{{basename $mov}}</a></div>
					{{end}}
					{{range $img := $prev.Imgs}}
						<div><a href={{$img}} style="font-size:0.8rem;color:#AAA">{{basename $img}}</a></div>
					{{end}}
				{{else}}
					<div style="color:#AAA;font-size:0.8rem">등록된 영상 또는 이미지가 없습니다.</div>
				{{end}}
			{{end}}
			<input type="file" multiple=true name="preview_files" value=""/>
		</div>
		<div class="field"><label>결과물</label>
			<input type="text" name="output_files" value="{{fieldJoin $v.OutputFiles}}"/>
		</div>
		<div class="field"><label>작업 파일</label>
			<input type="text" name="work_file" value="{{$v.WorkFile}}"/>
		</div>
		<div class="field"><label>시작일</label>
			<input type="date" name="start_date" value="{{stringFromDate $v.StartDate}}"/>
		</div>
		<div class="field"><label>(예상)종료일</label>
			<input type="date" name="end_date" value="{{stringFromDate $v.EndDate}}"/>
		</div>
		<button class="ui button green" type="submit" value="Submit">수정</button>
		<div style="height:2rem"></div>
	</form>
	{{end}}
</div>
{{template "footer.html"}}
