{{template "head.html"}}
{{template "nav.html" $}}
<div class="ui raised very padded text container grey inverted segment">
	<button onclick="history.back()">되돌아가기</button>
	<h2 class="ui header">애셋 수정</h2>
	<h3 class="ui dividing header" style="color:#BBB">
		<a href="/update-show?id={{$.Show}}" style="color:#9f9f9f">{{$.Show}}</a> /
		{{len $.IDs}} 샷
	</h3>
	<textarea readonly style="width:100%;height:6rem;padding:0.5rem">{{range $i, $id := $.IDs}}{{if ne $i 0}}, {{end}}{{$id}}{{end}}</textarea>
	<div style="height:2rem"></div>
	<form method="post" class="ui form">
		<!-- update-multi-assets 요청에는 GET을 사용하지 않기 때문에 이 요청이 정말로 POST라는 것을 알림 -->
		<input hidden type="text" name="post" value="1"/>
		{{range $id := $.IDs}}
		<input hidden type="text" name="id" value="{{$id}}"/>
		{{end}}
		<div class="field"><label>마감일</label>
			<input type="date" name="due_date" value="">
		</div>
		<div class="field"><label>상태</label>
			<select type="text" name="status">
				<option value="" selected></option>
				{{range $s := $.AllUnitStatus}}
				<option value="{{$s}}">{{$s.UIString}}</option>
				{{end}}
			</select>
		</div>
		<div class="field"><label>태그</label>
			<input type="text" name="tags" value="" placeholder="+tag, -tag"/>
		</div>
		<div class="field"><label>태스크</label>
			<input type="text" name="tasks" value="" placeholder="+task, -task"/>
		</div>
		<button class="ui button green" type="submit" value="Submit">수정</button>
		<div style="height:2rem;"></div>
	</form>
</div>
{{template "footer.bml"}}
