{{template "head.html"}}
{{template "nav.html" $}}
<!--상단 고정 메뉴로 인해 위치 조정-->
<div style="padding-top: 2rem;"></div>
<div class="ui raised very padded text container grey inverted segment">
	<h2 class="ui dividing header">샷 수정</h2>
	<form method="post" class="ui form">
		<div class="field disabled"><label>프로젝트</label>
			<input type="text" name="show" value="{{.Shot.Show}}"/>
		</div>
		<div class="field disabled"><label>아이디</label>
			<input type="text" name="shot" value="{{.Shot.Shot}}"/>
		</div>
		<div class="field"><label>마감일</label>
			<input type="date" name="due_date" value="{{stringFromDate $.Shot.DueDate}}">
		</div>
		<div class="field"><label>상태</label>
			<select type="text" name="status">
				{{with $s := .Shot}}
				{{range $ss := $.AllShotStatus}}
				<option value="{{$ss}}" {{if eq $ss $s.Status}}selected{{end}}>{{$ss.UIString}}</option>
				{{end}}
				{{end}}
			</select>
		</div>
		<div class="field"><label>내용</label>
			<input type="text" name="description" value="{{.Shot.Description}}"/>
		</div>
		<div class="field"><label>편집 순서</label>
			<input type="text" name="edit_order" value="{{.Shot.EditOrder}}"/>
		</div>
		<div class="field"><label>CG 내용</label>
			<input type="text" name="cg_description" value="{{.Shot.CGDescription}}"/>
		</div>
		<div class="field"><label>시작 타임코드</label>
			<input type="text" name="timecode_in" value="{{.Shot.TimecodeIn}}"/>
		</div>
		<div class="field"><label>종료 타임코드</label>
			<input type="text" name="timecode_out" value="{{.Shot.TimecodeOut}}"/>
		</div>
		<div class="field"><label>길이</label>
			<input type="text" name="duration" value="{{.Shot.Duration}}"/>
		</div>
		<div class="field"><label>태그</label>
			<input type="text" name="tags" value="{{join .Shot.Tags ", "}}"/>
		</div>
		<div class="field"><label>태스크</label>
			<input type="text" name="working_tasks" value="{{join .Shot.WorkingTasks ", "}}"/>
		</div>
		<button class="ui button green" type="submit" value="Submit">수정</button>

		<div style="height:2rem;"></div>
	</form>
</div>
{{template "footer.html"}}
