{{template "head.html"}}
{{template "nav.html" $}}
<!--상단 고정 메뉴로 인해 위치 조정-->
<div style="padding-top: 2rem;"></div>
<div class="ui raised very padded text container grey inverted segment">
	<h2 class="ui dividing header">태스크 수정</h2>
	<form method="post" class="ui form">
		<div class="field disabled"><label>프로젝트</label>
			<input type="text" name="show" value="{{.Task.Show}}"/>
		</div>
		<div class="field disabled"><label>샷</label>
			<input type="text" name="shot" value="{{.Task.Shot}}"/>
		</div>
		<div class="field disabled"><label>태스크</label>
			<input type="text" name="name" value="{{.Task.Task}}"/>
		</div>
		<div class="field"><label>담당</label>
			<input type="text" name="assignee" value="{{.Task.Assignee}}"/>
		</div>
		<div class="field"><label>마감일</label>
			<input type="date" name="due_date" value="{{stringFromDate $.Task.DueDate}}">
		</div>
		<div class="field"><label>상태</label>
			<select type="text" name="status">
				{{with $t := $.Task}}
				{{range $ts := $.AllTaskStatus}}
				<option value="{{$ts}}" {{if eq $ts $t.Status}}selected{{end}}>{{$ts.UIString}}</option>
				{{end}}
				{{end}}
			</select>
		</div>
		<button class="ui button green" type="submit" value="Submit">수정</button>

		<div style="height:2rem;"></div>
	</form>

	<h2 class="ui dividing header">
		버전
		<a href="/add-version?show={{$.Task.Show}}&shot={{$.Task.Shot}}&task={{$.Task.Task}}" class="ui right floated mini basic inverted button">추가</a>
	</h2>
	<div class="ui container">
		{{range $v := $.Versions}}
		<a href="/update-version?show={{$v.Show}}&shot={{$v.Shot}}&task={{$v.Task}}&version={{$v.Version}}" class="ui label">{{$v.Version}}</a>
		{{end}}
	</div>
</div>

<script>
</script>
{{template "footer.html"}}
