{{template "head.html"}}
{{template "nav.html" $}}
<!--상단 고정 메뉴로 인해 위치 조정-->
<div style="padding-top: 2rem;"></div>
<div class="ui raised very padded text container grey inverted segment">
	<h2 class="ui dividing header">프로젝트 설정</h2>
	<form method="post" class="ui form">
		<div class="field disabled"><label>아이디</label>
			<input type="text" name="id" value="{{.Project.ID}}"/>
		</div>
		<div class="field"><label>상태</label>
			<input type="text" name="status" value="{{.Project.Status}}"/>
		</div>
		<div class="field"><label>영문이름</label>
			<input type="text" name="name" value="{{.Project.Name}}"/>
		</div>
		<div class="field"><label>클라이언트</label>
			<input type="text" name="client" value="{{.Project.Client}}"/>
		</div>
		<div class="field"><label>감독</label>
			<input type="text" name="director" value="{{.Project.Director}}"/>
		</div>
		<div class="field"><label>PD</label>
			<input type="text" name="producer" value="{{.Project.Producer}}"/>
		</div>
		<div class="field"><label>VFX 수퍼바이저</label>
			<input type="text" name="vfx_supervisor" value="{{.Project.VFXSupervisor}}"/>
		</div>
		<div class="field"><label>VFX 매니저</label>
			<input type="text" name="vfx_manager" value="{{.Project.VFXManager}}"/>
		</div>
		<div class="field"><label>CG 수퍼바이저</label>
			<input type="text" name="cg_supervisor" value="{{.Project.CGSupervisor}}"/>
		</div>
		<div class="field"><label>크랭크 인</label>
			<input type="text" name="crank_in" value="{{dateTime .Project.CrankIn}}"/>
		</div>
		<div class="field"><label>크랭크 업</label>
			<input type="text" name="crank_up" value="{{dateTime .Project.CrankUp}}"/>
		</div>
		<div class="field"><label>시작일</label>
			<input type="text" name="start_date" value="{{dateTime .Project.StartDate}}"/>
		</div>
		<div class="field"><label>종료일</label>
			<input type="text" name="release_date" value="{{dateTime .Project.ReleaseDate}}"/>
		</div>
		<div class="field"><label>VFX 종료일</label>
			<input type="text" name="vfx_due_date" value="{{dateTime .Project.VFXDueDate}}"/>
		</div>
		<div class="field"><label>아웃풋 사이즈</label>
			<input type="text" name="output_size" value="{{.Project.OutputSize}}"/>
		</div>
		<div class="field"><label>View Lut 경로</label>
			<input type="text" name="view_lut" value="{{.Project.ViewLUT}}"/>
		</div>
		<button class="ui button green" type="submit" value="Submit">수정</button>
	</form>
</div>
{{template "footer.html"}}
