{{template "head.html"}}
{{template "nav.html" $}}
<!--상단 고정 메뉴로 인해 위치 조정-->
<div style="padding-top: 2rem;"></div>
<div class="ui raised very padded text container grey inverted segment">
	{{with $a := $.Asset}}
	<h2 class="ui header">애셋 수정</h2>
	<h3 class="ui dividing header" style="color:#818181">
		<a href="/update-show?id={{$a.Show}}" style="color:#9f9f9f">{{$a.Show}}</a> /
		asset /
		<span style="color:#ccc">{{$a.Asset}}</span>
	</h3>
	<form method="post" class="ui form" enctype="multipart/form-data">
		<input hidden type="text" name="id" value="{{$a.ID}}"/>
		<div class="field"><label>썸네일</label>
			{{if hasThumbnail $a.ID}}<img width="288px" height="162px" src="{{$.Thumbnail}}"></img>{{end}}
			<input type="file" name="thumbnail"/>
		</div>
		<div class="field"><label>마감일</label>
			<input type="date" name="due_date" value="{{stringFromDate $a.DueDate}}">
		</div>
		<div class="field"><label>상태</label>
			<select type="text" name="status">
				{{range $as := $.AllUnitStatus}}
				<option value="{{$as}}" {{if eq $as $a.Status}}selected{{end}}>{{$as.UIString}}</option>
				{{end}}
			</select>
		</div>
		<div class="field"><label>내용</label>
			<input type="text" name="description" value="{{$a.Description}}"/>
		</div>
		<div class="field"><label>CG 내용</label>
			<input type="text" name="cg_description" value="{{$a.CGDescription}}"/>
		</div>
		<div class="field"><label>태그</label>
			<input type="text" name="tags" value="{{fieldJoin $a.Tags}}"/>
		</div>
		<div class="field"><label>태스크</label>
			<input type="text" name="tasks" value="{{fieldJoin $a.Tasks}}"/>
		</div>
		<button class="ui button green" type="submit" value="Submit">수정</button>

		<div style="height:2rem;"></div>
	</form>
	{{end}}
</div>
{{template "footer.html"}}
