:root {
	--red: #DB2828;
	--orange: #F2711C;
	--yellow: #FBBD08;
	--olive: #B5CC18;
	--green: #21BA45;
	--teal: #00B5AD;
	--blue: #2185D0;
	--violet: #6435C9;
	--pulple: #A333C8;
	--pink: #E03997;
	--brown: #A5673F;
	--grey: #767676;
	--black: #1B1C1D;
}

body {
	background-color:#EEEEEE;
	margin: 0;
}

a {
	text-decoration: none;
}

hr {
	border: 0;
	height: 0;
	border-top: 1px solid #CCCCCC;
}

.field > input {
	margin-top: 0.3rem !important;
}


.field > select {
	margin-top: 0.3rem !important;
}

#main {
	padding: 8px;
}

.autocomplete {
	/*the container must be positioned relative:*/
	position: relative;
	display: inline-block;
}

.autocomplete-items {
	position: absolute;
	border: 1px solid #5e5c5c;
	border-bottom: none;
	border-top: none;
	z-index: 99;
	/*position the autocomplete items to be the same width as the container:*/
	top: 100%;
	left: 0;
	right: 0;
	color: #ffffff;
}

.autocomplete-items div {
	padding: 5px;
	cursor: pointer;
	background-color: #484747;
	border-bottom: 1px solid #5e5c5c;
}

.autocomplete-items div:hover {
	/*when hovering an item:*/
	background-color: #484747;
}

.autocomplete-active {
	/*when navigating through the items using the arrow keys:*/
	background-color: rgb(193, 168, 68) !important;
	color: #000000;
}

.multi-input {
	display:grid;
	grid-template-columns:repeat(4, 1fr);
	column-gap:0.5em;
	row-gap:0.5em;
}

.multi-input-add-button {
	margin-left: 0.5rem;
	cursor:pointer;
}
