:root {
	--red: #B03060;
	--orange: #FE9A76;
	--yellow: #FFD700;
	--olive: #32CD32;
	--green: #016936;
	--teal: #008080;
	--blue: #0E6EB8;
	--violet: #EE82FE;
	--pulple: #B413EC;
	--pink: #FF1493;
	--brown: #A52A2A;
	--grey: #A0A0A0;
}

body {
	background-color:#EEEEEE;
	margin: 0;
}

a {
	text-decoration: none;
}

hr {
	border: 0;
	height: 0;
	border-top: 1px solid #CCCCCC;
}

#main {
	padding: 8px;
}
